@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gayathri:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* ! aside component */
  .aside-component {
    background-image: url(../public/buildings.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40vw 100%;
  }
  .aside-component-bg-icons {
    background-image: url(../public/dots-bg.svg), url(../public/circle-bg.svg);
    background-repeat: no-repeat;
    background-position: 85% 20%, -12% 102%;
    background-size: 10vw 10vh, 13vw 13vh;
  }

  .aside-text-animation {
    animation: aside-animation 0.5s ease-in-out;
  }
  @keyframes aside-animation {
    0% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  /* ! removing tap highlight on elments */
  .remove-tap-highlight {
    -webkit-tap-highlight-color: transparent;
  }
}
